<div class="home-posts px-3">
  <div class="publish-post" *ngIf="accountService.CurrentUser$ | async">
    <form [formGroup]="postForm" (ngSubmit)="publishPost()">
      <div class="form-control">
        <textarea
          placeholder="Create a new post"
          type="text"
          formControlName="content"
        ></textarea>
      </div>
      <button
        class="custom-button"
        type="submit"
        [disabled]="!postForm.value.content || ''"
      >
        Publish
      </button>
    </form>
  </div>
  <div *ngFor="let postItem of postItems">
    <div class="home-post">
      <button
        *ngIf="
          (accountService.CurrentUser$ | async)?.id == postItem.post.user.id
        "
        mat-button
        [matMenuTriggerFor]="postActions"
        [matMenuTriggerData]="{ postItem: postItem }"
        class="dots"
      >
        <mat-icon class="more-vert">more_vert</mat-icon>
      </button>
      <div class="content relative">
        <h3>{{ postItem.post.user.username }}</h3>
        <p *ngIf="!postItem.isEditing" class="mt-4">
          {{ postItem.post.content }}
        </p>
        <form [formGroup]="editPostForm" *ngIf="postItem.isEditing">
          <textarea class="mt-4" formControlName="content"></textarea>
          <button
            class="custom-button"
            type="submit"
            [disabled]="!editPostForm.value.content || ''"
            (click)="updatePost(postItem.post.id)"
          >
            Save
          </button>
          <button
            class="custom-button"
            type="button"
            (click)="postItem.isEditing = false"
          >
            Cancel
          </button>
        </form>
        <p class="date">
          <span *ngIf="postItem.post.updatedAt != null"
            >{{ postItem.post.updatedAt != null ? "edited" : "" }}
            {{ postItem.post.updatedAt | date : "HH:mm dd/MM/yyyy" }}</span
          >
          <span *ngIf="postItem.post.updatedAt == null">
            {{ postItem.post.createdAt | date : "HH:mm dd/MM/yyyy" }}</span
          >
        </p>
        <p class="likes text-sm text-gray-500 mt-5">
          {{ postItem.post.likes }} likes
        </p>
      </div>
      <div class="buttons">
        <button
          class="custom-button"
          *ngIf="!postItem.post.isLikedByCurrentUser"
          (click)="likePost(postItem.post.id)"
        >
          Like
        </button>
        <button
          class="custom-button"
          *ngIf="postItem.post.isLikedByCurrentUser"
          (click)="likePost(postItem.post.id)"
        >
          Dislike
        </button>
        <button class="custom-button" (click)="showComments(postItem.post.id)">
          Comments
        </button>
      </div>
      <div class="comments" *ngIf="postItem.isCommentListOpen">
        <div class="comments-list">
          <div *ngFor="let comment of postItem.comments">
            <div class="comment">
              <div class="comment-content">
                <p class="comment-user">{{ comment.user.username }}</p>
                <p class="comment-text">{{ comment.text }}</p>
              </div>
              <p class="comment-date">
                <span *ngIf="comment.updatedAt != null"
                  >{{ comment.updatedAt != null ? "edited" : "" }}
                  {{ comment.updatedAt | date : "HH:mm dd/MM/yyyy" }}</span
                >
                <span *ngIf="comment.updatedAt == null">
                  {{ comment.createdAt | date : "HH:mm dd/MM/yyyy" }}</span
                >
              </p>
            </div>
          </div>
        </div>
        <form
          class="comment-form flex flex-row align-center"
          [formGroup]="commentForm"
          (ngSubmit)="publishComment(postItem.post.id)"
        >
          <textarea
            placeholder="Add a comment"
            type="text"
            formControlName="text"
          ></textarea>
          <button class="custom-button" type="submit">
            <mat-icon>keyboard_arrow_up</mat-icon>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<mat-menu #postActions="matMenu">
  <ng-template matMenuContent let-postItem="postItem">
    <button mat-menu-item (click)="editPost(postItem.post.id)">
      <mat-icon>edit</mat-icon> Edit post
    </button>
    <button mat-menu-item (click)="deletePost(postItem.post.id)">
      <mat-icon>delete</mat-icon> Delete post
    </button>
  </ng-template>
</mat-menu>
