<div class="home-posts px-3">
  <div class="publish-post" *ngIf="accountService.CurrentUser$ | async">
    <form [formGroup]="postForm" (ngSubmit)="publishPost()">
      <div class="form-control">
        <textarea
          placeholder="Create a new post"
          type="text"
          formControlName="content"
        ></textarea>
      </div>
      <button
        class="custom-button"
        type="submit"
        [disabled]="!postForm.value.content || ''"
      >
        Publish
      </button>
    </form>
  </div>
  <div *ngFor="let postItem of postItems">
    <div class="home-post">
      <button
        *ngIf="
          (accountService.CurrentUser$ | async)?.id == postItem.post.user.id
        "
        mat-button
        [matMenuTriggerFor]="postActions"
        [matMenuTriggerData]="{ postItem: postItem }"
        class="post-dots"
      >
        <mat-icon class="more-vert">more_vert</mat-icon>
      </button>
      <div class="content relative">
        <h3>{{ postItem.post.user.username }}</h3>
        <p *ngIf="!postItem.isEditing" class="mt-4">
          {{ postItem.post.content }}
        </p>
        <form [formGroup]="editPostForm" *ngIf="postItem.isEditing">
          <textarea
            class="mt-4 w-full editPostContent outline-none"
            rows="5"
            formControlName="content"
          ></textarea>
          <button
            class="custom-button w-1/2"
            type="submit"
            [disabled]="!editPostForm.value.content || ''"
            (click)="updatePost(postItem.post.id)"
          >
            Save
          </button>
          <button
            class="custom-button w-1/2"
            type="button"
            (click)="postItem.isEditing = false"
          >
            Cancel
          </button>
        </form>
        <p class="date">
          <span *ngIf="postItem.post.updatedAt != null"
            >{{ postItem.post.updatedAt != null ? "edited" : "" }}
            {{ postItem.post.updatedAt | date : "HH:mm dd/MM/yyyy" }}</span
          >
          <span *ngIf="postItem.post.updatedAt == null">
            {{ postItem.post.createdAt | date : "HH:mm dd/MM/yyyy" }}</span
          >
        </p>
        <p class="likes text-sm text-gray-500 mt-5">
          {{ postItem.post.likes }} likes
        </p>
      </div>
      <div class="buttons">
        <button
          class="custom-button"
          *ngIf="!postItem.post.isLikedByCurrentUser"
          (click)="likePost(postItem.post.id)"
        >
          Like
        </button>
        <button
          class="custom-button"
          *ngIf="postItem.post.isLikedByCurrentUser"
          (click)="likePost(postItem.post.id)"
        >
          Dislike
        </button>
        <button class="custom-button" (click)="showComments(postItem.post.id)">
          Comments
        </button>
      </div>
      <div class="comments" *ngIf="postItem.isCommentListOpen">
        <div class="comments-list">
          <div *ngFor="let commentItem of postItem.comments">
            <div class="comment">
              <div class="comment-content">
                <p class="comment-user">
                  {{ commentItem.comment.user.username }}
                </p>
                <form
                  *ngIf="commentItem.isEditing"
                  [formGroup]="editCommentForm"
                >
                  <textarea
                    class="w-full outline-none p-2"
                    rows="5"
                    formControlName="text"
                  ></textarea>
                  <button
                    class="custom-button w-1/2"
                    type="submit"
                    (click)="updateComment(commentItem)"
                  >
                    Save
                  </button>
                  <button
                    class="custom-button w-1/2"
                    type="button"
                    (click)="commentItem.isEditing = false"
                  >
                    Cancel
                  </button>
                </form>
                <p *ngIf="!commentItem.isEditing" class="comment-text">
                  {{ commentItem.comment.text }}
                </p>
              </div>
              <p class="comment-date">
                <span *ngIf="commentItem.comment.updatedAt != null"
                  >{{ commentItem.comment.updatedAt != null ? "edited" : "" }}
                  {{
                    commentItem.comment.updatedAt | date : "HH:mm dd/MM/yyyy"
                  }}</span
                >
                <span *ngIf="commentItem.comment.updatedAt == null">
                  {{
                    commentItem.comment.createdAt | date : "HH:mm dd/MM/yyyy"
                  }}</span
                >
              </p>
              <button
                *ngIf="
                  (accountService.CurrentUser$ | async)?.id ==
                  commentItem.comment.user.id
                "
                mat-button
                [matMenuTriggerFor]="commentActions"
                [matMenuTriggerData]="{ comment: commentItem.comment }"
                class="comment-dots"
              >
                <mat-icon class="more-vert">more_vert</mat-icon>
              </button>

              <mat-menu #commentActions="matMenu">
                <ng-template matMenuContent>
                  <button
                    mat-menu-item
                    (click)="
                      editComment(postItem.post.id, commentItem.comment.id)
                    "
                  >
                    <mat-icon>edit</mat-icon> Edit comment
                  </button>
                  <button
                    mat-menu-item
                    (click)="deleteComment(commentItem.comment.id)"
                  >
                    <mat-icon>delete</mat-icon> Delete comment
                  </button>
                </ng-template>
              </mat-menu>
            </div>
          </div>
        </div>
        <form
          class="comment-form flex flex-row align-center"
          [formGroup]="commentForm"
          (ngSubmit)="publishComment(postItem.post.id)"
        >
          <textarea
            placeholder="Add a comment"
            type="text"
            formControlName="text"
          ></textarea>
          <button class="custom-button" type="submit">
            <mat-icon>keyboard_arrow_up</mat-icon>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<mat-menu #postActions="matMenu">
  <ng-template matMenuContent let-postItem="postItem">
    <button mat-menu-item (click)="editPost(postItem.post.id)">
      <mat-icon>edit</mat-icon> Edit post
    </button>
    <button mat-menu-item (click)="deletePost(postItem.post.id)">
      <mat-icon>delete</mat-icon> Delete post
    </button>
  </ng-template>
</mat-menu>
