<div
  class="h-[calc(100vh-120px)] flex flex-col justify-center align-center max-w-96 m-auto"
>
  <form
    [formGroup]="changePasswordForm"
    class="flex flex-col justify-center align-center py-10 px-5 sm:p-10 rounded-xl shadow-xl bg-white"
  >
    <h2 class="text-4xl text-center font-semibold text-[#444444] mb-7">
      Change password
    </h2>

    <input-text
      label="Current password"
      placeholder="Current password"
      [formGroup]="changePasswordForm"
      [controlName]="'currentPassword'"
      [type]="'password'"
    >
    </input-text>

    <input-text
      label="New password"
      placeholder="New password"
      [formGroup]="changePasswordForm"
      [controlName]="'newPassword'"
      [type]="'password'"
    >
    </input-text>
    <input-button
      [label]="'Change password'"
      (clicked)="onSubmit()"
      [disabled]="!changePasswordForm.valid || isLoading"
    >
    </input-button>
  </form>
</div>
