<div
  class="h-[calc(100vh-120px)] flex flex-col justify-center align-center max-w-96 m-auto"
>
  <form
    [formGroup]="resetPasswordForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col justify-center align-center py-10 px-5 sm:p-10 rounded-xl shadow-xl bg-white"
  >
    <h2 class="text-4xl text-center font-semibold text-[#444444] mb-7">
      Reset Password
    </h2>
    <input-text
      label="Email"
      placeholder="Enter your email"
      [formGroup]="resetPasswordForm"
      [controlName]="'email'"
    >
    </input-text>

    <input-text
      *ngIf="tokenControl?.value && emailControl?.value"
      label="Password"
      placeholder="Enter your new password"
      [formGroup]="resetPasswordForm"
      [controlName]="'password'"
    >
    </input-text>

    <input-text
      *ngIf="tokenControl?.value && emailControl?.value"
      label="Confirm Password"
      placeholder="Confirm your new password"
      [formGroup]="resetPasswordForm"
      [controlName]="'confirmPassword'"
    >
    </input-text>

    <input-button
      *ngIf="!(tokenControl?.value && emailControl?.value)"
      [label]="'Send mail'"
      (clicked)="onSubmit()"
      [disabled]="resetPasswordForm.invalid || isLoading"
    ></input-button>
    <input-button
      *ngIf="tokenControl?.value && emailControl?.value"
      [label]="'Reset Password'"
      (clicked)="onSubmit()"
      [disabled]="resetPasswordForm.invalid || isLoading"
    ></input-button>
  </form>
</div>
