<div
  class="h-[calc(100vh-120px)] flex flex-col justify-center align-center max-w-96 m-auto"
>
  <form
    class="flex flex-col justify-center align-center py-10 px-5 sm:p-10 rounded-xl shadow-xl bg-white"
    [formGroup]="registerForm"
    (ngSubmit)="register()"
    autocomplete="off"
  >
    <h2 class="text-4xl text-center font-semibold text-[#444444] mb-7">
      Register
    </h2>

    <input-text
      label="Username"
      placeholder="Enter your username"
      [formGroup]="registerForm"
      [controlName]="'username'"
    ></input-text>

    <input-text
      label="Email"
      placeholder="mail@mail.com"
      [formGroup]="registerForm"
      [controlName]="'email'"
      [type]="'email'"
    ></input-text>

    <input-text
      label="Password"
      placeholder="******"
      [formGroup]="registerForm"
      [controlName]="'password'"
      [type]="'password'"
    ></input-text>

    <button
      class="bg-gray hover:opacity-70 duration-200 text-white mt-3 p-3 rounded-md disabled:cursor-not-allowed disabled:opacity-70"
      type="submit"
      [disabled]="!registerForm.valid"
    >
      Register
    </button>
  </form>
</div>
